@page "/"

<h1>Async Serverless Blazor Sample</h1>

<h2>Login and Logout</h2>

<button @onclick='async () => await LoginAsync("JohnDoe")' disabled="@(!string.IsNullOrEmpty(Token))">Login as JohnDoe</button>
<button @onclick='async () => await LoginAsync("JaneSmith")' disabled="@(!string.IsNullOrEmpty(Token))">Login as JaneSmith</button>
<br/>
<button @onclick="LogoutAsync" disabled="@(string.IsNullOrEmpty(Token))">Logout</button>

<div hidden="@string.IsNullOrEmpty(Token)">
    <h2>Order Management</h2>

    <button @onclick="SendOrder">Send Order</button>
    <button @onclick="SayHelloToServerAsync">Say Hello</button>

    <ul>
        @foreach (var message in NotificationMessages)
        {
            <li>@message</li>
        }
    </ul>
</div>
